<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>**Game Time Baby**</title>
</head>
<body>
    <form action="/madlib">
        <label for="person">Person:</label>
        <select name="person" id="person">
            <option value="Select">Select</option>
            <option value="jim">Jim</option>
            <option value="bob">Bob</option>
            <option value="mary">Mary</option>
            <option value="sally">Sally</option>
        </select><br>
        <label for="color">Color:</label>
        <select name="color" id="color">
            <option value="Select">Select</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
        </select><br>
        <label for="noun">Noun:</label>
        <select name="noun" id="noun">
            <option value="Select">Select</option>
            <option value="banana">Banana</option>
            <option value="truck">Truck</option>
            <option value="music">Music</option>
            <option value="yardstick">Yardstick</option>
            <option value="tractor">Tractor</option>
            <option value="kitten">Kitten</option>
        </select><br>
        <label for="adjective">Adjective:</label>
        <select name="adjective" id="adjective">
            <option value="Select">Select</option>
            <option value="beautiful">Beautiful</option>
            <option value="ugly">Ugly</option>
            <option value="gentle">Gentle</option>
            <option value="obnoxious">Obnoxious</option>
        </select><br>
        <input type="submit">
    </form>
</body>
</html>